terraform_backend_s3_bucketname = "tf.docker.internal"
terraform_backend_s3_filename   = "terraform.tfstate"
terraform_backend_s3_region     = "us-east-1"
aws_region                      = "us-east-1"
aws_profile                     = "default"
project                         = "CI"

count_bastion_subnet_on_public  = 1
count_public_subnet_per_az      = 1
count_private_subnet_per_az     = 1
count_instance_per_az           = 1
count_jenkins_node              = 1

aws_ami_docker                  = "ami-fe465d85"
instance_type_bastion           = "t2.nano"
instance_type_node              = "t2.small"

s3_bucketname_registry          = "randomly_registry"

rsa_key_bastion = {
    "public_key_path"  = "/keys/bastion.pub"
    "private_key_path" = "/keys/bastion"
    "aws_key_name"     = "bastion"
}
rsa_key_node = {
    "public_key_path"  = "/keys/node.pub"
    "private_key_path" = "/keys/node"
    "aws_key_name"     = "node"
}

